In [ ]:
import pandas as pd

data = pd.read_csv("../data/london_crimes.csv")
print(data.columns)

data.info()

In [ ]:
#Print out name of data columns, info and type of data
data.dtypes

In [ ]:
data.shape

In [ ]:
data.size

In [ ]:
data.head()

In [20]:
#Calculate shape and size of data
data.tail()

,borough,major_category,minor_category,year,number_of_cases
9409,City of London,Robbery,Business Property,2015,0
9410,City of London,Robbery,Business Property,2011,1
9411,Bexley,Sexual Offences,Rape,2016,0
9412,Sutton,Sexual Offences,Rape,2012,0
9413,Richmond upon Thames,Sexual Offences,Rape,2012,0

In [19]:
# Show data in first four rows, last four rows and rows 100 - 104
data[100:104]

,borough,major_category,minor_category,year,number_of_cases
100,City of London,Theft and Handling,Other Theft Person,2008,0
101,City of London,Theft and Handling,Other Theft Person,2012,41
102,City of London,Theft and Handling,Other Theft Person,2013,24
103,City of London,Theft and Handling,Other Theft Person,2009,0

In [26]:
# Create dataset which contains only year and number of cases

years_and_cases = data[["year", "number_of_cases"]]
years_and_cases.info

<bound method DataFrame.info of       year  number_of_cases
0     2016               13
1     2011                2
2     2014                3
3     2013                5
4     2009                0
...    ...              ...
9409  2015                0
9410  2011                1
9411  2016                0
9412  2012                0
9413  2012                0

[9414 rows x 2 columns]>

In [28]:
# Create dataset which contains only data from 2010
data_2010 = data[(data.year == 2010)]
data_2010.info

<bound method DataFrame.info of                      borough               major_category  \
7             City of London  Violence Against the Person
14            City of London           Theft and Handling
21            City of London  Violence Against the Person
29            City of London  Violence Against the Person
44            City of London  Violence Against the Person
...                      ...                          ...
9364  Kensington and Chelsea           Theft and Handling
9373  Kensington and Chelsea           Theft and Handling
9387  Kensington and Chelsea              Criminal Damage
9393  Kensington and Chelsea              Criminal Damage
9400  Kensington and Chelsea           Theft and Handling

                              minor_category  year  number_of_cases
7                                 Harassment  2010                0
14                               Other Theft  2010                0
21                              Wounding/GBH  2010                0
29                            Common Assault  2010                0
44                            Other violence  2010                0
...                                      ...   ...              ...
9364             Theft/Taking of Pedal Cycle  2010              901
9373           Theft/Taking Of Motor Vehicle  2010              504
9387        Criminal Damage To Motor Vehicle  2010              469
9393       Criminal Damage To Other Building  2010              165
9400  Motor Vehicle Interference & Tampering  2010               40

[1046 rows x 5 columns]>

In [35]:
# What was the biggest number of cases in 2010? Which crime, category and region?
data_2010 = data[(data.year == 2010)]
max_crime_index = data_2010["number_of_cases"].argmax()
print(max_crime_index)
data_2010.iloc[max_crime_index]

794

borough                   Westminster
major_category     Theft and Handling
minor_category            Other Theft
year                             2010
number_of_cases                 15906
Name: 7140, dtype: object

In [41]:
# Calculate the total number of cases per category for every year
crime_type_count = data.groupby(['year', 'major_category'])['number_of_cases'].sum()
print(crime_type_count)
crime_type_count.to_csv("magic_excel.csv")

year  major_category
2008  Burglary                        88092
      Criminal Damage                 91872
      Drugs                           68804
      Fraud or Forgery                 5325
      Other Notifiable Offences       10112
                                      ...
2016  Other Notifiable Offences       15809
      Robbery                         22528
      Sexual Offences                     0
      Theft and Handling             294133
      Violence Against the Person    232381
Name: number_of_cases, Length: 81, dtype: int64