In [7]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np


data = pd.read_csv("../../TieliikenneAvoinData_5_14.csv", 
encoding = 'unicode_escape', 
engine ='python', 
error_bad_lines=False, 
delimiter=';', 
usecols=["ensirekisterointipvm"])
print("")
# data = pd.read_csv("./TieliikenneAvoinData_5_14.csv", 
# nrows=10, encoding = 'unicode_escape', 
# engine ='python', 
# error_bad_lines=False, 
# delimiter=';')

data.columns

C:\Users\aleks\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['ensirekisterointipvm'], dtype='object')

Problem / Question
a) How many registered vehicles there are in Finland?
b) What are the vehicle types and number of vehicles per type?
c) What is the most common car brand (M1 class) in Finland?
d) What is the average engine capacity of M1 class cars?
e) What is the most common number of cylinders?
f) Examine the fraction of manual vs. automatic transmission vs. registration year
g) Find out something else important or interesting!


data columns: 
'ajoneuvoluokka', 'ensirekisterointipvm', 'ajoneuvoryhma',
'ajoneuvonkaytto', 'variantti', 'versio', 'kayttoonottopvm', 'vari',
'ovienLukumaara', 'korityyppi', 'ohjaamotyyppi', 'istumapaikkojenLkm',
'omamassa', 'teknSuurSallKokmassa', 'tieliikSuurSallKokmassa',
'ajonKokPituus', 'ajonLeveys', 'ajonKorkeus', 'kayttovoima',
'iskutilavuus', 'suurinNettoteho', 'sylintereidenLkm', 'ahdin',
'sahkohybridi', 'sahkohybridinluokka', 'merkkiSelvakielinen',
'mallimerkinta', 'vaihteisto', 'vaihteidenLkm', 'kaupallinenNimi',
'voimanvalJaTehostamistapa', 'tyyppihyvaksyntanro',
'yksittaisKayttovoima', 'kunta', 'Co2', 'matkamittarilukema',
'valmistenumero2', 'jarnro'

In [8]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# a) How many registered vehicles there are in Finland?
data

arr = np.array(data)

rows = arr.shape[0]

print("There are ",rows, " registered vehicles in finland")

There are  5138035  registered vehicles in finland

In [4]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# b) What are the vehicle types and number of vehicles per type?

data = pd.read_csv("../../TieliikenneAvoinData_5_14.csv", 
encoding = 'unicode_escape', 
engine ='python', 
error_bad_lines=False, 
delimiter=';', 
usecols=["ajoneuvoluokka"])

#print all the vehicle classess
data.groupby(['ajoneuvoluokka']).size()

C:\Users\aleks\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

ajoneuvoluokka
C1          19
C2           1
C3           1
KNP          2
L1       35796
L1e      69833
L2        1514
L2e       1577
L3       79194
L3e      58616
L4         974
L4e        107
L5         250
L5e        377
L6e       5517
L7e       6164
LTR      11492
M1     2629186
M1G      98844
M2        3129
M2G          6
M3        7320
MA       72577
MTK      42577
MUU     463035
N1      283927
N1G      48060
N2       36548
N2G       5525
N3       49336
N3G       2795
O1      750157
O2      179897
O3         647
O4       53623
T        49120
T1       33797
T2        3466
T3       52800
T4          32
T5         197
dtype: int64

In [9]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# c) What is the most common car brand (M1 class) in Finland?
# answer: toyota

import pandas as pd
data = pd.read_csv("../../TieliikenneAvoinData_5_14.csv", 
encoding = 'unicode_escape', 
engine ='python', 
error_bad_lines=False, 
delimiter=';', 
# nrows=100,
usecols=["ajoneuvoluokka", "merkkiSelvakielinen"])

m1 = data[(data.ajoneuvoluokka == "M1")]

selectedData = m1.groupby(['merkkiSelvakielinen', 'ajoneuvoluokka'])['ajoneuvoluokka'].size()
selectedData.sort_values(ascending=False)

merkkiSelvakielinen  ajoneuvoluokka
Toyota               M1                368525
Volvo                M1                208010
Volkswagen           M1                188139
Ford                 M1                187163
Mercedes-Benz        M1                176542
                                        ...
Giottiline srl       M1                     1
Glas                 M1                     1
Graham               M1                     1
Gutbrod              M1                     1
toyota               M1                     1
Name: ajoneuvoluokka, Length: 967, dtype: int64

In [21]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# d) What is the average engine capacity of M1 class cars?
data = pd.read_csv("../../TieliikenneAvoinData_5_14.csv", 
encoding = 'unicode_escape', 
engine ='python', 
error_bad_lines=False, 
delimiter=';', 
nrows=1000,
usecols=["ajoneuvoluokka", "voimanvalJaTehostamistapa"])

data.groupby(['ajoneuvoluokka', 'voimanvalJaTehostamistapa'])["voimanvalJaTehostamistapa"].mean()

C:\Users\aleks\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

ajoneuvoluokka  voimanvalJaTehostamistapa
L1              1.0                           1.0
                2.0                           2.0
                4.0                           4.0
L1e             2.0                           2.0
                4.0                           4.0
L2              1.0                           1.0
L3              1.0                           1.0
                2.0                           2.0
                4.0                           4.0
L3e             2.0                           2.0
L4              1.0                           1.0
L6e             1.0                           1.0
M1              1.0                           1.0
                2.0                           2.0
                5.0                           5.0
                9.0                           9.0
                10.0                         10.0
M1G             5.0                           5.0
                10.0                         10.0
M3              7.0                           7.0
MA              1.0                           1.0
                2.0                           2.0
MTK             2.0                           2.0
                6.0                           6.0
                9.0                           9.0
MUU             1.0                           1.0
                2.0                           2.0
                4.0                           4.0
                5.0                           5.0
                6.0                           6.0
                7.0                           7.0
                8.0                           8.0
                9.0                           9.0
                10.0                         10.0
N1              5.0                           5.0
N1G             5.0                           5.0
N2              5.0                           5.0
                10.0                         10.0
N3              7.0                           7.0
O1              8.0                           8.0
O2              8.0                           8.0
O4              7.0                           7.0
T               1.0                           1.0
                2.0                           2.0
                10.0                         10.0
T1              1.0                           1.0
                10.0                         10.0
Name: voimanvalJaTehostamistapa, dtype: float64

In [6]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# e) What is the most common number of cylinders?
data = pd.read_csv("../../TieliikenneAvoinData_5_14.csv", 
encoding = 'unicode_escape', 
engine ='python', 
error_bad_lines=False, 
delimiter=';', 
usecols=["sylintereidenLkm"])

print("Median of cylinders: ",data.median())

Median of cylinders:  sylintereidenLkm    4.0
dtype: float64

In [15]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# f) Examine the fraction of manual vs. automatic transmission vs. registration year
data = pd.read_csv("../../TieliikenneAvoinData_5_14.csv", 
encoding = 'unicode_escape', 
engine ='python', 
error_bad_lines=False, 
delimiter=';', 
usecols=["vaihteisto", "ensirekisterointipvm"])


print("fraction of the data")
data

fraction of the data

C:\Users\aleks\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

  ensirekisterointipvm  vaihteisto
0                  NaN         NaN
1           1976-09-01         NaN
2           1984-07-09         NaN
3           1983-09-22         NaN
4           1994-02-09         NaN
5           1990-05-08         NaN
6           2003-08-08         NaN
7           2006-03-17         NaN
8           2007-01-05         NaN
9           1995-05-05         NaN

In [11]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np

# g) Find out something else important or interesting!